:root{
/* Strong cyan */
    --primaria: hsl(172, 67%, 45%);
/* Very dark cyan*/
    --cor1: hsl(183, 100%, 15%);
/* Dark grayish cyan*/
    --cor2: hsl(186, 14%, 43%);
/* Grayish cyan*/
    --cor3: hsl(184, 14%, 56%);
/* Light grayish cyan*/
    --cor4: hsl(185, 41%, 84%);
/* Very light grayish cyan*/
    --cor5: hsl(189, 41%, 97%);
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: space mono;
    border: none;
    outline: none;
    text-decoration: none;
}
/* Elementos */
input[type=text]{
    text-decoration: none;
    width: 100%;
    color: var(--cor1);
    padding-right: 10px;
    border-radius: 5px;
}
input[type=number]{
    text-decoration: none;
    width: 100%;
    color: var(--cor1);
    padding-right: 10px;
    border-radius: 5px;
}
input:focus{
    outline: solid var(--primaria) 2px;
}
::placeholder{
    color: var(--cor2);
}
/* Estilização da Página */
body{
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
.logo{
    color: var(--cor2);
    margin: 2rem;
    font-size: 26pt;
}
form.conteiner{
    background-color: white;
    color: var(--cor2);
    padding: 30px;
    border-radius: 30px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 60%;
    margin: 1.8rem;
    gap: 1rem;
}
form .janelas{
    display: grid;
    text-align: start;
    align-items: center;
    grid-template-columns: 60% 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
form .jInput{
    grid-column: 1 / 3;
    grid-row: 2;
}
form .texto{
    text-align: right;
    border: none;
    background-color: var(--cor5);
    font-size: 26px;
}
#bill{
    background-image: url("./design/icon-dollar.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#pessoas{
    background-image: url("./design/icon-person.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
form .aviso{
    color: red;
    vertical-align: baseline;
    font-size: 8pt;
}
form .aviso.esconder{
    display: none;
}
form .botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;   
}
form .botoes buttom{
    background-color: var(--cor1);
    color: white;
    text-align: center;
    vertical-align: center;
    border-radius: 5px;
}
form .botoes .botao{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
form .botoes .selecionado{
    color: var(--cor1);
    background-color: var(--primaria);
}
form .botoes .botao:hover{
    background-color: var(--cor4);
    color: var(--cor1);
}
label.botao{
    user-select: none;
}
form .painel{
    grid-column: 2;
    grid-row: 1 / 4;
    width: 100%;
    background-color: var(--cor1);
    border-radius: 0.8rem;
    padding: 10%;
}
form .painel .pconteudo{
    color: white;
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
}
.pconteudo .pconteudos{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pconteudos .contText{
    font-size: 16px;
}
.pconteudos .contText P{
    opacity: 0.9;
}
.pconteudos h2{
    text-align: right;
    color: var(--primaria);
}
.pconteudo button{
    position: relative;
    left: 0px;
    top: 30px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 23px;    
}
.pconteudo button:enabled{
    color: var(--cor1);
    background-color: var(--primaria);
}
.pconteudo button:disabled{
    color: var(--cor4);
    background-color: var(--cor3);
}
@media (max-width: 800px){
    body{
        width: 100vw;
        height: 100%;
    }
    form.conteiner{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        margin: 0;
    }
    form .botoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;   
    }
    form .botoes .botao:hover{
    background-color: var(--primaria);
    color: var(--cor1);
    }
    .pconteudo button{
        top: 0;
    }
}
               
